<!DOCTYPE html>
<html>
    <head>
        <title>{% block pPageTitle %}{% if sPageTitle is defined and sPageTitle is not null %}{{ sPageTitle }}{% else %}{{ app.parameters.app.name }}{% endif %}{% endblock %}</title>

        {% block pMetaTags %}
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta name="viewport" content="width=device-width, initial-scale=1" />
        {% endblock %}

        {% block pStyleSheets %}
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i" rel="stylesheet" />
            {# Bootstrap #}
            <link href="{{ app['instance.base_url']}}/lib/bootstrap-3.3.7/css/bootstrap.min.css?v={{ app['instance.version'] }}" rel="stylesheet" />
            <link href="{{ app['instance.base_url']}}/lib/bootstrap-3.3.7/css/bootstrap-theme.min.css?v={{ app['instance.version'] }}" rel="stylesheet" />
            {# FontAwesome #}
            <link href="{{ app['instance.base_url']}}/lib/font-awesome-4.6.3/css/font-awesome.min.css?v={{ app['instance.version'] }}" rel="stylesheet" />
            {# Application #}
            <link href="{{ app['instance.base_url']}}/css/main.css?v={{ app['instance.version'] }}" rel="stylesheet" />
        {% endblock %}

        {% block pScripts %}
            <script type="text/javascript" src="{{ app['instance.base_url']}}/lib/jquery-3.1.0/jquery-3.1.0.min.js?v={{ app['instance.version'] }}"></script>
            <script type="text/javascript" src="{{ app['instance.base_url']}}/lib/bootstrap-3.3.7/js/bootstrap.min.js?v={{ app['instance.version'] }}"></script>
        {% endblock %}
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="pull-left">
                    <div class="left_column widgets_container">
                        <div id="clock_widget" class="widget_container">
                        </div>
                        <div id="calendar_widget" class="widget_container">
                        </div>
                    </div>
                </div>
                <div class="pull-right">
                    <div class="right_column widgets_container">
                        <div id="weather_widget" class="widget_container">
                        </div>
                        <div id="transport_widget" class="widget_container">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            var iDefaultFadingDuration = 1500;

            /** Load a widget for the first time */
            var loadWidget = function(target, endpoint){
                $(target).hide().load(endpoint, function(oResponse, sStatus, oXHR){
                    if(sStatus === 'error')
                    {
                        console.log('loadWidget: Could not load widget in ' + target + ', retrying in 10s');
                        setTimeout(function(){
                            console.log('loadWidget: Retrying to load widget in ' + target);
                            loadWidget(target, endpoint);
                        }, 10000);
                    }
                    $(target).fadeIn(iDefaultFadingDuration);
                });
            };

            /**
             * Update a widget content with some visual effects
             *
             * @param mixed target Can be either a selector or a jQuery element
             * @param mixed callback Can be either a function name or an anonymous function
             * @param integer iDuration
             * @returns boolean
             */
            var updateWidget = function(target, callback, iDuration) {
                var oTarget = null;
                var oCallback = null;

                // Checking target value
                if ($.type(target) === "string") {
                    oTarget = $(target);
                } else if ($.type(target) === "object") {
                    oTarget = target;
                } else {
                    console.log('updateWidget: Could not analyse target.', target);
                    return false;
                }

                // Checking callback value
                if ($.type(callback) === "string") {
                    oCallback = window[callback];
                } else if ($.type(callback) === "function") {
                    oCallback = callback;
                } else {
                    console.log('updateWidget: Could not analyse callback.', callback);
                    return false;
                }

                // Checking duration value
                if (iDuration === undefined || iDuration === null) {
                    iDuration = iDefaultFadingDuration;
                }

                // Updating widget
                oTarget.fadeOut(iDuration, function() {
                    oCallback();
                    oTarget.fadeIn(iDuration);
                });

                return true;
            };

            $(document).ready(function() {
                // Loading widgets
                // - Clock
                loadWidget('#clock_widget', '{{ app['url_generator'].generate('clock_show') }}');
                // - Calendar
                loadWidget('#calendar_widget', '{{ app['url_generator'].generate('calendar_next_events') }}');
                // - Weather
                loadWidget('#weather_widget', '{{ app['url_generator'].generate('weather_forecast_today') }}');
                // - Transport
                loadWidget('#transport_widget', '{{ app['url_generator'].generate('transport_favorites') }}');
            });
        </script>
    </body>
</html>
