<div class="widget">
    <div id="weather_conditions" class="clearfix">
        <span id="weather_temp">{{ forecast.temperatures.current }}°</span>
        <img id="weather_icon" class="pull-right" src="{{ app['instance.base_url'] }}img/google-weather/{{ forecast.conditions.icon }}-128.png" />
    </div>
    <div id="weather_desc">{{ forecast.conditions.description }}</div>
    <div id="weather_rain_prob">
        <span class="umbrella_icon"></span>
    </div>
</div>

<script type="text/javascript">
    var updateWeather = function() {
        // Update the transport widget
        updateWidget(
            '#weather_widget',
            function() {
                $.ajax({
                    url: '{{ app['url_generator'].generate('m_weather_forecast_today') }}',
                    context: $('#weather_widget'),
                    dataType: 'html'
                })
                .done(function(oData, sStatus, oXHR) {
                    // Replacing widget content
                    $(this).html(oData);
                })
                .fail(function(oXHR, sStatus, sError) {
                    // Retrying in 10min in case of failure (Network, server, ...)
                    setTimeout(function(){
                        updateWeather();
                    }, 600000);
                });
            }
        );
    };

    $(document).ready(function() {
        // Update the widget every 10min (Will be called again when the ajax loads this HTML on .done())
        setTimeout(updateWeather, 600000);
    });
</script>