{% extends 'transport/widget.html.twig' %}

{% block pTransportWidgetContent %}{% spaceless %}
    <div id="tsp_favorites" class="tsp_lines">
        {% if aStopTimes|length > 1 %}
            {% set sPreviousRouteId = null %}
            {% set sPreviousStopName = null %}

            {% for aStop in aStopTimes %}
                {# Closing previous line div #}
                {% if sPreviousRouteId != null and (aStop.route.id != sPreviousRouteId or aStop.stop.name != sPreviousStopName) %}
                        </div>
                    </div>
                {% endif %}

                {% if aStop.route.id != sPreviousRouteId or aStop.stop.name != sPreviousStopName %}
                    <div class="tsp_line tsp_line_compact" data-route-id="{{ aStop.route.id }}">
                        <div class="tsp_line_header">
                            <div class="tsp_line_logo pull-right" style="background-color: #{{ aStop.route.backgroundColor }}; color: #{{ aStop.route.foregroundColor }};">{{ aStop.route.shortName }}</div>
                            <div class="tsp_line_title">
                                <div class="tsp_line_stop">{{ aStop.stop.name }}</div>
                            </div>
                        </div>
                        <div class="tsp_line_content">
                {% endif %}
                            <div class="tsp_line_stop">
                                <div class="tsp_line_direction">{{ aStop.direction }}</div>
                                <div class="tsp_line_times">
                                    {% for aTime in aStop.departures if loop.index <= 2 %}
                                        <div class="tsp_line_time" data-timestamp="{{ aTime.timestamp }}" data-datetime="{{ aTime.datetime|date('Y-m-d H:i:s') }}">
                                            {{ aTime.interval }}
                                            {% if aTime.realtime == true %}
                                                <span class="fa fa-fw fa-rss" aria-hidden="true"></span>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                {# Closing last line div #}
                {% if loop.last %}
                        </div>
                    </div>
                {% endif %}

                {% set sPreviousRouteId = aStop.route.id %}
                {% set sPreviousStopName = aStop.stop.name %}
            {% endfor %}
        {% else %}
            {% for aStop in aStopTimes %}
                <div class="tsp_line" data-stop-id="{{ aStop.stop.id }}" data-route-id="{{ aStop.route.id }}">
                    <div class="tsp_line_header">
                        <div class="tsp_line_logo" style="background-color: #{{ aStop.route.backgroundColor }}; color: #{{ aStop.route.foregroundColor }};">{{ aStop.route.shortName }}</div>
                        <div class="tsp_line_title">
                            <div class="tsp_line_stop">{{ aStop.stop.name }}</div>
                            <div class="tsp_line_direction">Dir. {{ aStop.direction }}</div>
                        </div>
                    </div>
                    <div class="tsp_line_content">
                        <div class="tsp_line_times">
                            {% for aTime in aStop.departures if loop.index <= 3 %}
                                <div class="tsp_line_time" data-timestamp="{{ aTime.timestamp }}" data-datetime="{{ aTime.datetime|date('Y-m-d H:i:s') }}">
                                    {% if loop.index == 1 %}
                                        Prochain dans
                                    {% elseif loop.index == 2 %}
                                        Suivant dans
                                    {% else %}
                                        ...
                                    {% endif %}
                                    {{ aTime.interval }}
                                    <span class="fa fa-fw {% if aTime.realtime == true %}fa-rss{% else %}fa-clock-o{% endif %}" aria-hidden="true"></span>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>{% endspaceless %}
{% endblock %}

{% block pTransportWidgetScript %}
    <script type="text/javascript">
        var updateTransport = function() {
            // Update the transport widget
            updateWidget(
                '#transport_widget',
                function() {
                    $.ajax({
                        url: '{{ app['url_generator'].generate('m_transport_favorites') }}',
                        context: $('#transport_widget'),
                        dataType: 'html'
                    })
                    .done(function(oData, sStatus, oXHR) {
                        // Replacing widget content
                        $(this).html(oData);
                    })
                    .fail(function(oXHR, sStatus, sError) {
                        // Emptying widget as we don't want to show deprecated informations
                        $(this).html('');
                        // Retrying in 30s in case of failure (Network, server, ...)
                        setTimeout(function(){
                            updateTransport();
                        }, 30000);
                    });
                }
            );
        };

        var updateTransport

        $(document).ready(function() {
            // Update the widget every 20s (Will be called again when the ajax loads this HTML on .done())
            setTimeout(updateTransport, 20000);
        });
    </script>
{% endblock %}